html, body {
  background-color: #fff;
  width: 100%;
  height: 100%;
  margin: 0;
  border: 0;
  outline: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

svg {
  background: #fff;
}

h1 {
  font-family: Raleway; 
  font-size: 44px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 44.4px;
  color: #4550E6;
}